
<div class="container-fluid" style="padding:2em" >
  <h1>Play Tournaments of your favorite games.</h1>
  <p>Be a champion...</p>
  <%= image_tag ("phoenix.png") %>
</div>
<div class="container-fluid" style="padding:2em;background-color:#6f42c1; border-radius:0.45em; color:#ffc107">
  <h1>Earn big Prizes.</h1>
  <p>Be a champion...</p>
 <%= image_tag ("coin.png") %>


</div>
